.inizio-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: flex-start;
}
#logo {
    width: 200px;
    
}

#table {
    border-collapse: collapse;
    border: solid 2px black
    
}
.li-nav {
    list-style: none;
}
h1 {
    display: flex;
justify-content: center;
align-content: center;
margin: 0;
width:50%;
}
.articoli {
    margin: 0;
}